rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // זמני: מאפשר לכל משתמש מחובר לקרוא ולכתוב
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
